* {
    margin: 0;
    color: #333;

}

/*OVO MI SKLANJA PLAVI BORDER OKO DUGMETA!!!*/

*:focus {
    outline: none !important
}

#menu-block ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 32px 0 0;
    float: right;
    transition: 4s;

}

#menu-block ul li {
    float: left;
    text-align: left;
    padding: 0 8px;
    position: relative;
    transition: all 0.5s;
    z-index: 1000;
}

#menu-block ul li a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    outline: none;
}

#menu-block ul li:hover > ul {
    display: block;
    transition: all 4s;
}

#menu-block ul li div {
    position: absolute;
    height: 1px;
    top: 25px;
    padding: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.5s;
}

#menu-block ul li:hover div {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-bottom: 2px solid orange
}

#all {

    background: url("img/slide5.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}

#slide-text img {
    height: 200px;
}

#social-icons {
    float: right;
}

.fb:hover {
    opacity: 0.5;
}

.insta:hover {
    opacity: 0.5;
}

.google:hover {
    opacity: 0.5;
}

#about hr,
#contact hr,
#menu-full hr,
#gallery hr {

    border: 1px solid orange;
    width: 400px;
    margin-top: 20px;
}

#about,
.text-content {
    background: #cccccc;
    line-height: 26px;
    font-size: 20px;
}

.buttons {
    width: 220px;
    height: 60px;
    background: rgb(168, 164, 164);
    font-size: 18px;
    font-weight: 700;
    border: 1px solid orange;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
}

.buttons:hover {
    background: orange;
}

#background1 {
    background: url("img/slide2.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
}

.background2 {
    background: url("img/slide2.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20px;
}

#contact-photos {
    margin-top: 30px;

}

#contact-photos h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer {
    background: orange;
    height: 200px;
}

#footer-end p {
    color: white;
    float: right;
    margin-top: 150px;
}

#footerflor {
    margin-top: 50px;
}

#menu-full {
    background: #cccccc;
}

.menu {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

#gallery {
    background-color: #cccccc;
}

.active,
.menu:hover {
    background-color: orange;
}

.info {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    font-size: 18px;

}

.orange {
    border: 1px solid orange;

}

#thumbs img {
    height: 50px;
    cursor: pointer;
}

#slide-block img {
    height: 500px;
}

.title h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#footer-logo img {
    height: 80px;
}

#gallery-border{
    border:2px solid orange;
    margin-top: 50px;

}




@media screen and (max-width: 790px) {
    #all {
        width: 100%;
    }

    #about,
    #menu-full,
    #menu-left,
    #menu-right,
    #gallery,
    #contact,
    #thumbs,
    #slide-block,
    #footer,
    #footer-end,
    #footer-one {
        width: 100%;
    }



    #slide-block img {
        height: 200px;
    }

    #thumbs img {
        height: 20px;

    }

    #footer-logo {
        width: 100%;

    }

    #footer-logo img {
        height: 50px;
        float: left;
    }

    #footer-social {
        width: 100%;
    }

    #footer-social img {
        height: 20px;
        float: left;

    }

    #footer-end p {
        margin: 0;

    }

    hr,
    #footerflor,
    #menu-block {
        display: none;
    }

    .buttons {
        width: 100%;
        height: 35px;
        font-size: 10px;
    }

    #logofirst {
        width: 100%;

    }

    #social-icons {
        width: 50%;
        margin-top: 20px;
    }

    #contact-photos {
        margin: 0;
    }

    #contact-photos h1 {
        margin: 0;
    }

    #background1 {
        height: 100px;
    }
    #all {

    height: 300px;}

    .photos-icons img {
        height: 50px;
    }
    .text-content h3{

        line-height: 15px;

    }
}